.home{
height: 800px;
display: flex;
justify-content: center;
align-items: center;
}

.home__body{
    width: 50%; 
    text-align: center;
 
    
}

.home__body h1 {
    font-size: 50px;
}


.home__buttons{
    display: flex;
    justify-content: center
}

.home__button {
    font-size: 20px;
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 5px;
}

/* 
@media (max-width: 767px){

    .home__body{
        width: 40%;
    }
    .home__body h1{
        font-size: 45px;
    }

    .home__button {
        font-size: 25px;
        padding: 10px;
        border-radius: 10px;
        cursor: pointer;
    }

} */