.home{
height: 800px;
display: flex;
justify-content: center;
align-items: center;
}

.home__body{
    width: 20%; 
    margin: 0px auto;
    text-align: center;
 
    
}

.home__body h1 {
    font-size: 45px;
}


.home__buttons{
    display: flex;
    justify-content: space-evenly
}

button {
    font-size: 20px;
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
}