.megamillion{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
}

.megamillion__container{
    width: 50%;
    text-align: center;
}

.megamillion__image{
    width: 300px;
    height: 270px;
   
}

.megamillion__body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 25px;
    
}
.megamillion__body p{
    font-size: 60px;
    border: 1px solid black;
    border-radius: 50%;
    padding: 15px;
}

.megamillion__body p:not(:last-child){
    margin-right: 10px;
}

.megamillion__body p:last-child{
    background-color: #ebd230;
    color: white;
}
