.megamillion{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.megamillion__container{
    width: 50%;
    text-align: center;
    margin-top:7%;
}

.megamillion__image{
    width: 300px;
    height: 270px;
   
}

.megamillion__body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    
}

.generate__number__button {
    margin-top: 15px;
    font-size: 12px;
    padding: 5px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

@media (max-width: 773px){
    .megamillion__image{
        width: 210px;
        height: 200px;
       
    }
}

@media (max-width: 534px){
    .megamillion__image{
        width: 210px;
        height: 200px;
       
    }
}

@media (max-width: 430px){
    .megamillion__image{
        width: 180px;
        height: 150px;
       
    }
}