.megamillion{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
}

.megamillion__container{
    width: 50%;
    text-align: center;
}

.megamillion__image{
    width: 300px;
    height: 270px;
   
}

.megamillion__body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    
}

.generate__number__button {
    margin-top: 15px;
    font-size: 12px;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
}