.navigation{
    display:flex;
    justify-content: flex-end;
    width: 100%;
    
    
}

.navigation__link{
    margin-right: 20px;
    margin-top: 15px;
    font-size: 20px;
    color: black;

}

.navigation__link:link{
    text-decoration: none;
    
}


