.powerball{
    display: flex;
    justify-content: center;
    align-items: center;
}

.powerball__container{
    width: 50%;
    text-align: center;
    margin-top: 7%;
}

.powerball__image{
    width: 400px;
    height: 150px;
   
}

.powerball__body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    
}

.generate__number__button {
    margin-top: 15px;
    font-size: 12px;
    padding: 5px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}



@media (max-width: 773px){
    .powerball__image{
        width: 340px;
        height: 150px;
       
    }
}

@media (max-width: 534px){
    .powerball__image{
        width: 280px;
        height: 120px;
       
    }
}

@media (max-width: 430px){
    .powerball__image{
        width: 210px;
        height: 100px;
       
    }
}